@charset "UTF-8"; 

:root {
    --cor0: #FFFFFF; 
    --cor1: #002040; 
    --cor2: #02FFD2; 

    --minha-font: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor1);
    font-family: var(--minha-font);
}


header {
    background-color: var(--cor);
}

header > h1 {
    color: var(--cor0);
    text-align: center;
}

section {
    background-color: var(--cor2);
    margin: auto;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
}

footer {
    background-color: var(--cor1);
    text-align: center;
}

footer > p {
    color: var(--cor0);
}